@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
.mass-body {
    background-color: rgb(248, 248, 248);
   
}

.anchor {
    margin-left: auto;
}
.nav-logo {
    height: 80px;
    width: 80px;
}
.anchor-mass {
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
}
.anchor-mass:hover {
    color: black;
}
.home-body {  
    height: 80vh;    
}
.box-left {
    text-align: end;         
}
.box-right {
    text-align: left;
}
.home-para {
    padding-left: 150px; 
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
        
}
.about {
    text-align: center;   
}
.about-para {
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
}
.contact-us {
    text-align: center;
    
}  

.social {
    padding: 5px;
    
}
.social-icons {
    text-align: center;
}
.footer {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
    line-height: 24px;
    color: inherit;
    border-bottom: 1px solid var(--secondary);
    font-size: 15px;
   
}


